body{
    background: #000;
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader-inner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
}
.loader-line-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: loader-line-wrap-animation 2s linear infinite;
}
.loader-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #fff;
    animation: loader-line-animation 2s linear infinite;
}
.loader-line:nth-child(1) {
    animation-delay: 0s;
}
.loader-line:nth-child(2) {
    animation-delay: -0.4s;
}
.loader-line:nth-child(3) {
    animation-delay: -0.8s;
}
.loader-line:nth-child(4) {
    animation-delay: -1.2s;
}
.loader-line:nth-child(5) {
    animation-delay: -1.6s;
}
@keyframes loader-line-wrap-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-line-animation {
    0% {
        box-shadow: 0 0 10px #fff;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 20px #fff;
        transform: scale(1.2);
    }
    100% {
        box-shadow: 0 0 10px #fff;
        transform: scale(1);
    }
}